form{
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 10px;
    // border: 2px solid green;
}

mat-card{
    border: 2px solid #BF0404;
    padding: 20px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}