<mat-toolbar color="primary">
    <h1>Burger Queen</h1>
    <div class="spacer"></div>
    
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="''">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
        </button>
        <button mat-menu-item *ngFor="let menu of filteredMenus" [routerLink]="menu.path">
            <mat-icon>{{menu.icon}}</mat-icon>
            <span>{{menu.text}}</span>
        </button>
        <!-- <button mat-menu-item>
        <mat-icon>login</mat-icon>
        <span>Login</span>
        </button> -->
        <!-- <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voicemail</span>
        </button>
        <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
        </button> -->
    </mat-menu>
</mat-toolbar>
      
<article>
    <router-outlet></router-outlet>
</article>